.dotted {
  background-image: -webkit-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: -moz-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: -o-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  -webkit-background-size: 4px 4px;
  -moz-background-size: 4px 4px;
  background-size: 4px 4px;
 z-index: 999; 
}
  .img-responsive{
  	width:100px;
  	height: 100px;
  	opacity: 1;
  }
  .navbar-custom-ul li{
  	background-color: #0C67F7;
    border-radius: 5px 2px 5px 2px;
  }
  .navbar-custom-ul li a{
  	color:white;
  }
   .navbar-custom-ul li:hover a{
   	color:#0C67F7;
    border-radius: 5px 2px 5px 2px;
   }
   .desktop-bootstrap{
   	display:none;
   }
 .tablet-bootstrap{
 	display:none;
 }
 .mobile-bootstrap{
 	display: none;
 }
 .mobile-bootstrap-custom-nav{
 	background-color: white;
 	border-bottom: 1px solid #0C67F7;
 }
 #custom-dropdown-nav{
 	border-top: 1px solid #0C67F7;
 }
#custom-dropdown-nav ul li a{
	color:#0C67F7;
}
.custom-navbar-toggle{
	background-color: #0C67F7;
	border: 0px solid #0C67F7;
}
#custom-dropdown-nav ul li:hover a{
	background-color: #0C67F7;
	color:white;
}
.cover-container img{
	height: 300px;
	width: 300px;
}
.cover-container {
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.cover-item {
    position: relative;
    display: inline-block;
    margin: 8px 8px;
    vertical-align: bottom;
    opacity:0.5;
    transition: opacity 0.5s linear;
    cursor: pointer;
}
.cover-item:hover{
	opacity:1;
}
.row-fluid-custom{
	position:fixed;
	z-index: -999;
	margin-top: 20%;
}
.caption-custom{
	background-color: white;
	padding: 5px 0;
	margin-top: 5px;
	border-radius: 4px; 
}
.cover-container::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
.cover-container::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.cover-container::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 73px none #ffffff;
  border-radius: 50px;
}
.cover-container::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.cover-container::-webkit-scrollbar-thumb:active {
  background: #000000;
}
.cover-container::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 30px;
}
.cover-container::-webkit-scrollbar-track:hover {
  background: #666666;
}
.cover-container::-webkit-scrollbar-track:active {
  background: #333333;
}
.cover-container::-webkit-scrollbar-corner {
  background: transparent;
}
.modal-footer img{
	margin:5px;
}
.modal-body p{
  text-align: justify;
  color:#0C67F7;
  font-weight: bold;
}
.modal-title span{
  font-size: 20px;
  color:#0C67F7;
}
.messages-modal-header-custom{
  background-color: #0C67F7;
  color:white;
  text-align: center;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
}
.messages-modal-footer-custom{
  background-color: #0C67F7;
  color:white;
  border-radius: 0 0 5px 5px;
}
.messages-container-custom{
  margin-top: 4%;
}
.name{
  color:#0C67F7;
  margin:5px 3px 5px 3px;
}
.new-message{
  font-weight: bold;
  font-size:15px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  cursor: pointer;
  opacity:0.7;
  margin-right: 10px;
}
.new-message:hover{
  opacity:1;
}
.close-span{
  font-weight: bold;
  font-size:15px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  cursor: pointer;
  opacity:0.7;
  margin-right: 10px;
}
.close-span:hover{
  opacity:1;
}
.desktop-project-custom{
  display: none;
}
.tablet-project-custom{
  display: none;
}
.contact{
  margin-left:25%;
}
.contact-body{
  color:#0C67F7;
}
.about-modal-custom{
  background-color:#0C67F7;
  border-radius: 5px 5px 0 0;
}
.about-modal-footer{
  background-color: #0C67F7;
  border-radius: 0 0 5px 5px;
}
.joinUs-body{
  line-height: 1.5em;
  text-align: justify;
  color:#0C67F7;
  font-family: Georgia, serif;
  font-size: 17px;
}
.about-modal-custom .modal-title span{color:white;}
@media and screen only(max-width: 770 && min-width: 481){
  .content-custom{
    margin-left: 1000px;
  }
}
@media and screen only(max-width: 481){

}






